<html>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <!-- Logo on the left -->
        <div class="logo">PeroMedik</div>
        </nav>
<div class="container">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="{{pacijent?.slika}}" >
                    </div>
                    <h5 class="user-name">{{pacijent?.ime}} {{pacijent?.prezime}}</h5>
                    <h6 class="user-email" style="font-size: 13px;">{{pacijent?.imejl}}</h6>
                    <br>
                    <h6>Promena profilne slike</h6>
                    <label for="files" class="text-center btn btn-success">Prilozite fajl</label>
                                    <input type="file" id="files" style="visibility: hidden;"
                                        (change)="onFileSelected($event)" />
                </div>      
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Promena podataka</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="fullName">Ime</label>
                        <input type="text" class="form-control" style="font-size: 13px;" id="fullName" placeholder="Unesite ime" [(ngModel)]="ime">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="eMail">Prezime</label>
                        <input type="text" class="form-control" style="font-size: 13px;" id="eMail" placeholder="Unesite prezime" [(ngModel)]="prezime">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Kontakt</label>
                        <input type="tel" class="form-control" style="font-size: 13px;" id="phone" placeholder="Unesite kontakt" [(ngModel)]="kontakt">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="website">Imejl</label>
                        <input type="text" class="form-control" style="font-size: 13px;" id="website" placeholder="Unesite imejl" [(ngModel)]="imejl">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="website">Adresa</label>
                        <input type="text" class="form-control" style="font-size: 13px;" id="website" placeholder="Unesite adresu" [(ngModel)]="adresa">
                    </div>
                </div>
            </div>

            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <br>
                        <button type="button" id="submit" name="submit" class="btn btn-danger" (click)="otkazi()">Otkazi</button>
                      <span style="padding-left: 10px;"> <button type="button" id="submit" name="submit" class="btn btn-success" (click)="azurirajPodatke()">Azuriraj</button></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(112, 27, 27);">
      <span class="text-light">© 2020 Copyright:</span>
      <a class="text-light" href="">PeroMedik</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>